html
  head
      link(rel="stylesheet", href="./style.css")

  title Quiz
body

div 
  h1 The Number Quiz
  h5 Your current Score is 
    = score
  p You have completed the number of quiz with score out #{score} of 5
