body{
    background: url("images/silverware.jpg"); 
    background-attachment: fixed;
    font-family: Georgia, Garamond, serif;
    margin: 2rem;
}

.title{
    color: #A4A400;
    text-align: center;
    text-decoration: underline;
    font-size: 22pt;
    font-weight: bold;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    letter-spacing: 0.25em;
    padding: 1rem;
}

.textshado {
    background-color: #F0F0F0;
}

.menucontent {
    margin: 10px;
}
pre{
    font-family: monospace;
}
span{
    background-color: #F0F0F0;

}

.linkColor{
    color: #A4A400;
}


.submenu{
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    color: #A4A400;
    text-decoration: underline;
    font-size: 18pt;
    letter-spacing: 0.25em;
    padding: 1rem;
}
p {
    font-size : 20px;
    padding : 0;
    margin : 0;
    line-height : 20px;
}


ul.background_image{
    list-style-image: url('images/pie_icon.gif');

}

#line{
    text-decoration: line-through;
}

.comment{
   padding-block: 10px;
   margin-right: 35px;
   margin-left: 35px;
   background: #FFFFA8 ;
   font-style: oblique;
}

#underlineColor{
    text-decoration: underline;
    font-style: normal;
    color: #A4A400;
}

.right{
    float: right;
}


.footer {
    margin-top: 3rem;
    
}