html
  head
    title Online Dictionary
  body
    h1 Hello
     div 
       form(action="http://localhost:3000/search", method="POST") 
            label(for="search") Search 
            input(type="text", id="search" name="search")  
            input(type="submit", value="Search")
    