

body {
    background-image: url("images/background.png");
    margin: 0px;
    padding: 0px;
    font-size: 8pt;
    font-family: Verdana,Tahoma, sans-serif;
    position: relative;
}


.bannerImage {
    background-image: url("images/bannerbg.png");
    background-repeat: repeat-x;
}

.title_header {
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    margin-bottom:15px;
}




.mainContainer {

    overflow: hidden;

    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid gray;
    border-radius: 20px;
}





.mainContainer .mainContainerLeft {
    display: block;
    width: 550px;
    float: left;
}






.rottenImage {
    background-image: url("images/rbg.png");
    background-repeat: repeat-x;
    margin: 0px;
    padding: 0px;
    height: 83px;
}





.rating {
    font-size: 48pt;
    color: red;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
}


.mainContainerLeft .column {
    width: 47%;
    float: left;
    padding-left: 2%;
}



.mainContainerLeft .movieReview {
    font-size: 8pt;
    font-weight: bold;
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
}


.mainContainerLeft img {
    float: left;
    margin-right: 5px;
}



.reviews {
    margin-bottom: 20pt;
}



.name{
    font-size: 8pt;
}


.mainContainer .mainContainerRight {
    display: block;
    width: 250px;
    float: right;
    background-color: #A2B964;    
}



.mainContainerRight dl dd {
    padding-bottom: 10pt;
}


.mainContainer > .pageList {
    padding: 5px;
    margin: 0px;
    clear: both;
    text-align: center;
    background-color: #A2B964;

 }



 .mainContainerRight dl {
    font-family: Arial, sans-serif;
    line-height: 1.3em;
    padding: 10pt;
    font-size: 8pt;
  
}

.mainContainerRight dl dt {
    font-weight: bold;
}


.hyperLink {

    bottom:0;
    margin:0;
    right:0;
    opacity: 50%;
    position:fixed;

}


.overview{
    margin-bottom: -40px;
}
